<div class="container">
  <div class="navbar-header">
    <a href="{{ .Site.BaseURL }}" class="navbar-brand">{{ .Site.Title }}</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">

    <ul class="nav navbar-nav navbar-right">
      <li>
      <a href="{{ .Site.Params.repo_url }}/releases/latest">Download</a>
      </li>
      {{ with .Site.Params.demo_site }}
      <li>
        <a href="{{ . }}">Demo</a>
      </li>
      {{ end }}
      <li>
        <a href="{{ .Site.Params.repo_url }}/stargazers" target="_blank" title="Stargazers" data-action="star">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Stars
          <span id="star_count">&ndash;</span>
        </a>
      </li>
      <li><a href="https://github.com/{{ .Site.Social.github }}/{{.Site.Title}}">Github</a></li>
    </ul>
  </div>
</div>
